*.zip
*.python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.log
.venv/
.env/
data/Testing/glioma/*
data/Testing/meningioma/*
data/Testing/notumor/*
data/Testing/pituitary/*
data/Training/pituitary/*
data/Training/pituitary/*
data/Training/pituitary/*
data/Training/pituitary/*ṇ
